<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjh.mapper.AdminMapper">

  <select id="login" resultType="com.wjh.entity.Admin" parameterType="com.wjh.entity.Admin">
    select * from Admin
    where name = #{name} and pwd = #{pwd}
  </select>
</mapper>